doctype html
head
    title=title
    // needed for adaptive design
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="icon" type="image/png" href="https://ue-platform-content.s3.amazonaws.com/0f8aeec8-8e9b-4629-b06c-6672b4a2e9ad" sizes="100x100")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700' rel='stylesheet')
    //
      ReDoc doesn't change outer page styles
    style.
        body {
            margin: 0;
            padding: 0;
        }
redoc(spec-url='/swagger.json')
script(src='https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js')
