extends layout

block content
  section#head.section
    .container
      div(style="background: lightslategrey;").card
        .card-body
          h5(style="color: wheat").card-title.danger=title
          h6.card-subtitle.mb-2=message
          p.card-text=details
          //h4.tagline=description
          //p
