doctype html
html
    head
        title= title
        link(rel="icon" type="image/png" href="https://s3.amazonaws.com/ue-platform-content/ue-favicon.png" sizes="100x100")
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-grid.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-reboot.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script( src='/javascripts/jquery-3.2.1.min.js', type='text/javascript')
        script( src='/bootstrap/js/bootstrap.bundle.min.js', type='text/javascript')
        body
            block content