doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        title= title
        link(rel="icon" type="image/png" href="https://ue-platform-content.s3.amazonaws.com/0f8aeec8-8e9b-4629-b06c-6672b4a2e9ad" sizes="100x100")
        link(rel='stylesheet', href='https://www.unpkg.com/bootstrap/dist/css/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='https://www.unpkg.com/bootstrap/dist/css/bootstrap-grid.min.css', type='text/css')
        link(rel='stylesheet', href='https://www.unpkg.com/bootstrap/dist/css/bootstrap-reboot.min.css', type='text/css')
        link(rel='stylesheet', href='/css/template/fonts/font-awesome-4.7.0/css/font-awesome.css', type='text/css')
        //link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/views.css', type='text/css')
        link(rel='stylesheet' type='text/css' href='/css/template/icon-font.min.css')
        link(rel='stylesheet' type='text/css' href='/css/template/animate/animate.css')
        link(rel='stylesheet' type='text/css' href='/css/template/css-hamburgers/hamburgers.min.css')
        link(rel='stylesheet' type='text/css' href='/css/template/animsition/css/animsition.min.css')
        link(rel='stylesheet' type='text/css' href='/css/template/select2/select2.min.css')
        link(rel='stylesheet' type='text/css' href='/css/template/daterangepicker/daterangepicker.css')
        link(rel='stylesheet' type='text/css' href='/css/template/util.css')
        link(rel='stylesheet' type='text/css' href='/css/template/main.css')
        script( src='https://www.unpkg.com/jquery@3.4.1/dist/jquery.min.js', type='text/javascript')
        script( src='https://www.unpkg.com/bootstrap/dist/js/bootstrap.bundle.min.js', type='text/javascript')
        script( src='https://unpkg.com/popper.js@1.16.1/dist/popper.min.js', type='text/javascript')
        script(src='/css/template/animsition/js/animsition.min.js')
        script(src='/css/template/select2/select2.min.js')
        script(src='/css/template/daterangepicker/moment.min.js')
        script(src='/css/template/daterangepicker/daterangepicker.js')
        //script(src='/js/template/countdowntime/countdowntime.js')
        script(src='/js/main.js')
        //script(src='/js/popper/popper.js')
        block content