extends layout

block content
    section#head.section
        .container
            div(style="background: lightslategrey;").card
                .card-body
                    h5(style="color: wheat").card-title.danger=title
                    h6.card-subtitle.mb-2=message
                    if (logoUri || authGroup.primaryDomain)
                        a.btn.btn-default(href=(logoUri || authGroup.primaryDomain)) Home to #{authGroup.name}
                    if (initiateLoginUri || loginUrl)
                        a.btn.btn-default(href=(initiateLoginUri || loginUrl) style="margin-left: 5px") Login Again
                    div(style="margin-top: 10px").row
                        .col-md-12
                            if (tosUri || authGroup.primaryTOS)
                                a(href=(tosUri || authGroup.primaryTOS)) [ Terms of Service ]
                            if (policyUri || authGroup.primaryPrivacyPolicy)
                                a(href=(policyUri || authGroup.primaryPrivacyPolicy) style="margin-left: 5px") [ Privacy Policy ]