extends layout

block content
    body
        section#head.section
            .row
                .col-lg-12
                    .h-100.p-5.bg-light.rounded-3(style="max-width: 800px; margin: auto; margin-top: 50px; box-shadow: 1px 1px 2px slategrey;")
                        h2=title
                        p=message
                        if (logoUri || authGroup.primaryDomain)
                            a.btn.btn-outline-dark(href=(logoUri || authGroup.primaryDomain)) Home to #{authGroup.name}
                        //if (initiateLoginUri || loginUrl)
                            a.btn.btn-outline-dark(href=(initiateLoginUri || loginUrl) style="margin-left: 5px") Login Again
                        .m-t-10
                            if (tosUri || authGroup.primaryTOS)
                                a(href=(tosUri || authGroup.primaryTOS)) [ Terms of Service ]
                            if (policyUri || authGroup.primaryPrivacyPolicy)
                                a(href=(policyUri || authGroup.primaryPrivacyPolicy) style="margin-left: 5px") [ Privacy Policy ]