extends layout

block content
    body
        p= 'One moment please...'
        script(nonce=nonce).
            function parseQuery(queryString) {
                var query = {};
                var pairs = (queryString[0] === '?' ? queryString.substr(1) : queryString).split('&');
                //todo if pairs
                for (var i = 0; i < pairs.length; i++) {
                    var pair = pairs[i].split('=');
                    query[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1] || '');
                }
                return query;
            }
            var fields = parseQuery(window.location.search);
            fields.upstream = '#{upstream}'
            console.log(fields);
            var uid = fields.state.split('|')[0]
            console.info('here');
            var authGroup = '#{authGroup}'
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/' + authGroup + '/interaction/' + uid + '/federated';
            console.info('here too');
            console.log(form.action);
            Object.keys(fields).forEach((key) => {
                if (key) { // empty fragment will yield {"":""};
                    var input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = key;
                    input.value = fields[key];
                    form.appendChild(input);
                }
            });
            document.body.appendChild(form);
            try {
                var url = window.location.href.slice(0, -Math.max(window.location.hash.length, 1));
                window.history.replaceState({}, window.document.title, url);
            } catch(err) {
                console.log('error');
                window.location.hash = "";
            }
            console.info('here.........')
            form.submit();