/* Social Logins */
#linkedin {
    background-color: #0e76a8;
    color: white;
}
#linkedin:hover {
    background-color: #0a4c6b;
}
.fullWidth {
    width: 100%;
}
#github {
    background-color: #212529;
    color: white;
}
#github:hover {
    background-color: white;
    color: #212529;
}

#twitter {
    background-color: #1a8cd8;
    color: white;
}
#twitter:hover {
    background-color: #177cc0;
}
#apple {
    background-color: black;
    color: white;
}
#apple:hover {
    background-color: #212529;
}

/* Spinner */

#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: grey;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* Flash */
.flash-container {
    margin: 24px 24px 0 24px;
    border: 1px solid #505D6E;
    border-radius: 8px;
    padding: 32px 32px 32px 32px;
    box-sizing: border-box;
    background-color: #505D6E;
    color: white;
}

/* Utility */

.hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.success {
    display: none;
}

.invisible {
    position: absolute;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-l-10 {
    padding-left: 10px;
}

/* MFA Instructions */

.instructions {
    text-align: center;
    width: 90%; margin:auto;
}