block passwordFree
    .credential-container
        p#mfa-pending.sign-in Sign in password free
        if(params.passwordFreeOptions.passkey && params.passwordFreeOptions.localFound === false)
            p You may need to set up your passkey before you can use it to login. Click "Set Passkey" below the buttons if needed.
        form#mainLogin(autocomplete='off', action='/'+authGroup+'/interaction/'+uid+'/login', method='post')
        .credentials
            input(type="hidden" name="accountId" value=params.passwordFreeOptions.account form='mainLogin')
            input(type="hidden" name="accountEmail" value=params.passwordFreeOptions.accountEmail form='mainLogin')
            if(params.passwordFreeOptions.passkey)
                button#magic-dvice.btn-custom.btn-signin.m-10(type='submit' form='mainLogin' value='magic-device' name='action') Use my Passkey
            if(params.passwordFreeOptions.device)
                button#magic-dvice.btn-custom.btn-signin.m-10(type='submit' form='mainLogin' value='magic-device' name='action') Use my mobile device
            if(params.passwordFreeOptions.email)
                button#magic-email.btn-custom.btn-signin.m-10(type='submit' form='mainLogin' value='magic-email' name='action') Send magic link email