extends ../uelayout

block content
    body.bg.flex
        if(align === 'middle')
            style.
                .credential-container {
                    width: auto;
                }
                .utility-panel {
                    width: auto;
                }
            .utility-panel
                include magicPrimary
        else
            .panel
                include magicPrimary
