extends ../uelayout

block content
    body.bg.flex
        if(align === 'middle')
            .panel.middle-panel.width-auto
                include magicPrimary
        else
            .panel
                include magicPrimary
